<a href="https://colab.research.google.com/github/soufianeze/MachineLearning2/blob/main/Kayak_DEMO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
from geopy.geocoders import Nominatim
import requests
from geopy.extra.rate_limiter import RateLimiter
import json

In [7]:
#Creating a dataframe with address of locations we want to reterive
locat = ["Mont Saint Michel",
"St Malo",
"Bayeux",
"Le Havre",
"Rouen",
"Paris",
"Amiens",
"Lille",
"Strasbourg",
"Chateau du Haut Koenigsbourg",
"Colmar",
"Eguisheim",
"Besancon",
"Dijon",
"Annecy",
"Grenoble",
"Lyon",
"Gorges du Verdon",
"Bormes les Mimosas",
"Cassis",
"Marseille",
"Aix en Provence",
"Avignon",
"Uzes",
"Nimes",
"Aigues Mortes",
"Saintes Maries de la mer",
"Collioure",
"Carcassonne",
"Ariege",
"Toulouse",
"Montauban",
"Biarritz",
"Bayonne",
"La Rochelle"]
df = pd.DataFrame({'add': locat})

In [8]:
#Creating an instance of Nominatim Class
geolocator = Nominatim(user_agent="my_request")
 
#applying the rate limiter wrapper
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)
 
#Applying the method to pandas DataFrame
df['location'] = df['add'].apply(geocode)
df['latitude'] = df['location'].apply(lambda x: x.latitude if x else None)
df['longitude'] = df['location'].apply(lambda x: x.longitude if x else None)
 
df

,add,location,latitude,longitude
0,Mont Saint Michel,"(Mont Saint-Michel, Avancée des Bombardes, Le ...",48.635954,-1.511460
1,St Malo,"(Saint-Malo, Ille-et-Vilaine, Bretagne, France...",48.649518,-2.026041
2,Bayeux,"(Bayeux, Calvados, Normandie, France métropoli...",49.276462,-0.702474
3,Le Havre,"(Le Havre, Seine-Maritime, Normandie, France m...",49.493898,0.107973
4,Rouen,"(Rouen, Seine-Maritime, Normandie, France métr...",49.440459,1.093966
5,Paris,"(Paris, Île-de-France, France métropolitaine, ...",48.858890,2.320041
6,Amiens,"(Amiens, Somme, Hauts-de-France, France métrop...",49.894171,2.295695
7,Lille,"(Lille, Nord, Hauts-de-France, France métropol...",50.636565,3.063528
8,Strasbourg,"(Strasbourg, Bas-Rhin, Grand Est, France métro...",48.584614,7.750713
9,Chateau du Haut Koenigsbourg,"(Château du Haut-Kœnigsbourg, Chemin fermé sui...",48.249490,7.344296
10,Colmar,"(Colmar, Colmar-Ribeauvillé, Haut-Rhin, Grand ...",48.077752,7.357964
11,Eguisheim,"(Eguisheim, Colmar-Ribeauvillé, Haut-Rhin, Gra...",48.044797,7.307962
12,Besancon,"(Besançon, Doubs, Bourgogne-Franche-Comté, Fra...",47.238022,6.024362
13,Dijon,"(Dijon, Côte-d'Or, Bourgogne-Franche-Comté, Fr...",47.321581,5.041470
14,Annecy,"(Annecy, Haute-Savoie, Auvergne-Rhône-Alpes, F...",45.899235,6.128885
15,Grenoble,"(Grenoble, Isère, Auvergne-Rhône-Alpes, France...",45.187560,5.735782
16,Lyon,"(Lyon, Métropole de Lyon, Circonscription dépa...",45.757814,4.832011
17,Gorges du Verdon,"(Gorges du Verdon, Route des Crêtes, Les Ferra...",43.749656,6.328562
18,Bormes les Mimosas,"(Bormes-les-Mimosas, Toulon, Var, Provence-Alp...",43.150697,6.341928
19,Cassis,"(Cassis, Marseille, Bouches-du-Rhône, Provence...",43.214036,5.539632
20,Marseille,"(Marseille, Bouches-du-Rhône, Provence-Alpes-C...",43.296174,5.369953
21,Aix en Provence,"(Aix-en-Provence, Bouches-du-Rhône, Provence-A...",43.529842,5.447474
22,Avignon,"(Avignon, Vaucluse, Provence-Alpes-Côte d'Azur...",43.949249,4.805901
23,Uzes,"(Uzès, Nîmes, Gard, Occitanie, France métropol...",44.012128,4.419672
24,Nimes,"(Nîmes, Gard, Occitanie, France métropolitaine...",43.837425,4.360069
25,Aigues Mortes,"(Aigues-Mortes, Nîmes, Gard, Occitanie, France...",43.565823,4.191284
26,Saintes Maries de la mer,"(Saintes-Maries-de-la-Mer, Arles, Bouches-du-R...",43.452277,4.428717
27,Collioure,"(Collioure, Céret, Pyrénées-Orientales, Occita...",42.525050,3.083155
28,Carcassonne,"(Carcassonne, Aude, Occitanie, France métropol...",43.213036,2.349107
29,Ariege,"(Ariège, Occitanie, France métropolitaine, Fra...",42.945537,1.406554
30,Toulouse,"(Toulouse, Haute-Garonne, Occitanie, France mé...",43.604462,1.444247
31,Montauban,"(Montauban, Tarn-et-Garonne, Occitanie, France...",44.017584,1.354999
32,Biarritz,"(Biarritz, Bayonne, Pyrénées-Atlantiques, Nouv...",43.471144,-1.552727
33,Bayonne,"(Bayonne, Pyrénées-Atlantiques, Nouvelle-Aquit...",43.494514,-1.473666
34,La Rochelle,"(La Rochelle, Charente-Maritime, Nouvelle-Aqui...",46.159113,-1.152043

In [9]:
df.head(5)

,add,location,latitude,longitude
0,Mont Saint Michel,"(Mont Saint-Michel, Avancée des Bombardes, Le ...",48.635954,-1.511460
1,St Malo,"(Saint-Malo, Ille-et-Vilaine, Bretagne, France...",48.649518,-2.026041
2,Bayeux,"(Bayeux, Calvados, Normandie, France métropoli...",49.276462,-0.702474
3,Le Havre,"(Le Havre, Seine-Maritime, Normandie, France m...",49.493898,0.107973
4,Rouen,"(Rouen, Seine-Maritime, Normandie, France métr...",49.440459,1.093966

In [10]:
df1 = df.drop(['location'], axis=1)

In [11]:
df_coord_city =  df1

In [12]:
df_coord_city.to_csv(path_or_buf= 'df_coord_city.csv')

In [13]:
df_coord_city = pd.read_csv('df_coord_city.csv',index_col=[0])
df_coord_city

                             add   latitude  longitude
0              Mont Saint Michel  48.635954  -1.511460
1                        St Malo  48.649518  -2.026041
2                         Bayeux  49.276462  -0.702474
3                       Le Havre  49.493898   0.107973
4                          Rouen  49.440459   1.093966
5                          Paris  48.858890   2.320041
6                         Amiens  49.894171   2.295695
7                          Lille  50.636565   3.063528
8                     Strasbourg  48.584614   7.750713
9   Chateau du Haut Koenigsbourg  48.249490   7.344296
10                        Colmar  48.077752   7.357964
11                     Eguisheim  48.044797   7.307962
12                      Besancon  47.238022   6.024362
13                         Dijon  47.321581   5.041470
14                        Annecy  45.899235   6.128885
15                      Grenoble  45.187560   5.735782
16                          Lyon  45.757814   4.832011
17              Gorges du Verdon  43.749656   6.328562
18            Bormes les Mimosas  43.150697   6.341928
19                        Cassis  43.214036   5.539632
20                     Marseille  43.296174   5.369953
21               Aix en Provence  43.529842   5.447474
22                       Avignon  43.949249   4.805901
23                          Uzes  44.012128   4.419672
24                         Nimes  43.837425   4.360069
25                 Aigues Mortes  43.565823   4.191284
26      Saintes Maries de la mer  43.452277   4.428717
27                     Collioure  42.525050   3.083155
28                   Carcassonne  43.213036   2.349107
29                        Ariege  42.945537   1.406554
30                      Toulouse  43.604462   1.444247
31                     Montauban  44.017584   1.354999
32                      Biarritz  43.471144  -1.552727
33                       Bayonne  43.494514  -1.473666
34                   La Rochelle  46.159113  -1.152043

In [14]:
apikey = "2d2d38d27bf70441956404225db6021f"

In [16]:
d={}
for i in range(8):
  d["day"+str(i)]=[]
    
for i in range(len(df_coord_city)):
  latitude = df_coord_city.loc[i,'latitude']
  longitude = df_coord_city.loc[i,'longitude']
  url=f"https://api.openweathermap.org/data/2.5/onecall?lat={latitude}&lon={longitude}&appid={apikey}&exclude=minutely"
  r=requests.get(url)
    
  for i in range(8):
    d["day"+str(i)].append(r.json()['daily'][i])

with open("meteo.json", 'w') as m_json:
    m_json.write(json.dumps(d))
        
meteo=pd.read_json('meteo.json')
meteo.head(1)

,day0,day1,day2,day3,day4,day5,day6,day7
0,"{'dt': 1658750400, 'sunrise': 1658723446, 'sun...","{'dt': 1658836800, 'sunrise': 1658809921, 'sun...","{'dt': 1658923200, 'sunrise': 1658896397, 'sun...","{'dt': 1659009600, 'sunrise': 1658982874, 'sun...","{'dt': 1659096000, 'sunrise': 1659069352, 'sun...","{'dt': 1659182400, 'sunrise': 1659155830, 'sun...","{'dt': 1659268800, 'sunrise': 1659242310, 'sun...","{'dt': 1659355200, 'sunrise': 1659328789, 'sun..."

In [46]:
def rempli_jour(jour,j):
    
    for i in range(jour.shape[0]):
        jour.loc[i,'date'] = meteo.iloc[i,j]['dt']
        jour.loc[i,'Tmin'] = meteo.iloc[i,j]['temp']['min']-273.15
        jour.loc[i,'Tmax'] = meteo.iloc[i,j]['temp']['max']-273.15
        jour.loc[i,'Humidity'] = meteo.iloc[i,j]['humidity']
        jour.loc[i,'Weather'] = meteo.iloc[i,j]['weather'][0]['main'] + " (" + meteo.iloc[i,j]['weather'][0]['description'] + ')'
        jour.loc[i,'clouds'] = meteo.iloc[i,j]['clouds']
        jour.loc[i,'WeatherCode'] = meteo.iloc[i,j]['weather'][0]['id']
        jour.loc[i,'icone'] = 'http://openweathermap.org/img/wn/'+meteo.iloc[i,j]['weather'][0]['icon']+'.png'
    jour.date = pd.to_datetime(jour.date, unit = 's')
    return None

locs = locals()
for i in range(8):
    locs['jour_'+str(i)] = df_coord_city.copy()
    rempli_jour( locs['jour_'+str(i)] ,i)
    
jour_1.head(1)

,add,latitude,longitude,date,Tmin,Tmax,Humidity,Weather,clouds,WeatherCode,icone
0,Mont Saint Michel,48.635954,-1.51146,2022-07-26 12:00:00,14.12,21.92,47.0,Clouds (overcast clouds),100.0,804.0,http://openweathermap.org/img/wn/04d.png

In [19]:
 url=f"https://api.openweathermap.org/data/2.5/onecall?lat={lat1}&lon={lon1}&appid={apikey}&exclude=minutely"
r=requests.get(url)

In [24]:
apikey = "2d2d38d27bf70441956404225db6021f" 

df = pd.DataFrame(columns=['location','latitude', 'longitude', 'day', 'weather'])

for i in range(len(df_coord_city)): 
  url=f"https://api.openweathermap.org/data/2.5/onecall?lat={latitude}&lon={longitude}&appid={apikey}&exclude=minutely"
  rson=r.json()
  d={}
  for n in range(7):
    loc = df_coord_city['add'][i]
    latitude = df_coord_city['latitude'][i]
    longitude = df_coord_city['longitude'][i]
    day = n+1
    weather =  rson['daily'][n]['weather'][0]['description']
    d = {'location': loc,'latitude': latitude,'longitude': longitude,'day': day, 'weather': weather}
    df = pd.concat([df, pd.DataFrame(d, index=[0])], ignore_index=True)

In [25]:
df.head(10)

            location   latitude  longitude day           weather
0  Mont Saint Michel  48.635954  -1.511460   1        light rain
1  Mont Saint Michel  48.635954  -1.511460   2        light rain
2  Mont Saint Michel  48.635954  -1.511460   3  scattered clouds
3  Mont Saint Michel  48.635954  -1.511460   4        light rain
4  Mont Saint Michel  48.635954  -1.511460   5   overcast clouds
5  Mont Saint Michel  48.635954  -1.511460   6        light rain
6  Mont Saint Michel  48.635954  -1.511460   7        light rain
7            St Malo  48.649518  -2.026041   1        light rain
8            St Malo  48.649518  -2.026041   2        light rain
9            St Malo  48.649518  -2.026041   3  scattered clouds